In [1]:
import pandas as pd

from connect import database

     color  is_genuine  is_used  is_imported_goods  seller  sell_price  \
0      Đen       False    False              False       1    12490000
1    Trắng       False    False              False       1    11110000
2      Đen       False    False              False       1    10890000
3    Trắng       False    False              False       1    12490000
4     Xanh       False    False              False       1    10890000
..     ...         ...      ...                ...     ...         ...
962   None        True    False              False  259709     3790000
963    Xám        True    False              False  259709     3790000
964   None        True    False              False  259709    13490000
965   None        True    False              False  259709    15990000
966   None        True    False              False  259709    15990000

                                 name  original_price   ram storage_capacity  \
0                     Apple Iphone 11        12990000   4GB             64GB
1                     Apple Iphone 11        12990000   4GB             64GB
2                     Apple Iphone 11        12990000   4GB             64GB
3                     Apple Iphone 11        12990000   4GB             64GB
4                     Apple Iphone 11        12990000   4GB             64GB
..                                ...             ...   ...              ...
962              ZTE Blade V40 Vita 5         4290000  None             None
963              ZTE Blade V40 Vita 5         4290000  None             None
964             ZTE Nubia Redmagic 6R        15990000  None             None
965  ZTE Nubia Redmagic 6S Pro Cyborg        17990000  12GB            128GB
966  ZTE Nubia Redmagic 6S Pro Cyborg        17990000  12GB            128GB

    brand_name  rating_1  rating_2  rating_3  rating_4  rating_5
0        Apple      13.0       1.0       1.0      22.0     268.0
1        Apple       7.0       5.0       4.0      27.0     346.0
2        Apple       7.0       1.0       7.0      23.0     404.0
3        Apple       5.0       0.0       2.0      15.0     210.0
4        Apple       6.0       2.0       4.0      29.0     404.0
..         ...       ...       ...       ...       ...       ...
962        ZTE       NaN       NaN       NaN       NaN       NaN
963        ZTE       NaN       NaN       NaN       NaN       NaN
964        ZTE       NaN       NaN       NaN       NaN       NaN
965        ZTE       NaN       NaN       NaN       NaN       NaN
966        ZTE       NaN       NaN       NaN       NaN       NaN

[967 rows x 16 columns]
    brand_name                              name              seller  color  \
0        Apple                   Apple Iphone 11        Tiki Trading    Đen
1        Apple                   Apple Iphone 11        Tiki Trading  Trắng
2        Apple                   Apple Iphone 11        Tiki Trading    Đen
3        Apple                   Apple Iphone 11        Tiki Trading  Trắng
4        Apple                   Apple Iphone 11        Tiki Trading   Xanh
..         ...                               ...                 ...    ...
923        ZTE              ZTE Blade V40 Vita 5  ZTE Official Store   None
924        ZTE              ZTE Blade V40 Vita 5  ZTE Official Store    Xám
925        ZTE             ZTE Nubia Redmagic 6R  ZTE Official Store   None
926        ZTE  ZTE Nubia Redmagic 6S Pro Cyborg  ZTE Official Store   None
927        ZTE  ZTE Nubia Redmagic 6S Pro Cyborg  ZTE Official Store   None

     is_genuine  is_used  is_imported_goods   ram storage_capacity  \
0         False    False              False   4GB             64GB
1         False    False              False   4GB             64GB
2         False    False              False   4GB             64GB
3         False    False              False   4GB             64GB
4         False    False              False   4GB             64GB
..          ...      ...                ...   ...              ...
923        True    False              False  None             None
924        True    False              False  None             None
925        True    False              False  None             None
926        True    False              False  12GB            128GB
927        True    False              False  12GB            128GB

     original_price  sell_price  rating_1  rating_2  rating_3  rating_4  \
0          12990000    12490000      13.0       1.0       1.0      22.0
1          12990000    11110000       7.0       5.0       4.0      27.0
2          12990000    10890000       7.0       1.0       7.0      23.0
3          12990000    12490000       5.0       0.0       2.0      15.0
4          12990000    10890000       6.0       2.0       4.0      29.0
..              ...         ...       ...       ...       ...       ...
923         4290000     3790000       NaN       NaN       NaN       NaN
924         4290000     3790000       NaN       NaN       NaN       NaN
925        15990000    13490000       NaN       NaN       NaN       NaN
926        17990000    15990000       NaN       NaN       NaN       NaN
927        17990000    15990000       NaN       NaN       NaN       NaN

     rating_5
0       268.0
1       346.0
2       404.0
3       210.0
4       404.0
..        ...
923       NaN
924       NaN
925       NaN
926       NaN
927       NaN

[928 rows x 16 columns]

In [2]:
df = database
df

,brand_name,name,seller,color,is_genuine,is_used,is_imported_goods,ram,storage_capacity,original_price,sell_price,rating_1,rating_2,rating_3,rating_4,rating_5
0,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,12490000,13.0,1.0,1.0,22.0,268.0
1,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,11110000,7.0,5.0,4.0,27.0,346.0
2,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,10890000,7.0,1.0,7.0,23.0,404.0
3,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,12490000,5.0,0.0,2.0,15.0,210.0
4,Apple,Apple Iphone 11,Tiki Trading,Xanh,False,False,False,4GB,64GB,12990000,10890000,6.0,2.0,4.0,29.0,404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,None,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN
924,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,Xám,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN
925,ZTE,ZTE Nubia Redmagic 6R,ZTE Official Store,None,True,False,False,None,None,15990000,13490000,NaN,NaN,NaN,NaN,NaN
926,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN
927,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN

# Total each field

In [3]:
# Total Brands
total_brand = len(df.groupby(['brand_name'])['brand_name'])
total_brand

19

In [4]:
# Total Product Name
total_product = df.groupby(['brand_name','name'])['name'].size().reset_index(name='count')
total_product

    brand_name                              name  count
0        Apple                   Apple Iphone 11      5
1        Apple                   Apple Iphone 12      8
2        Apple                   Apple Iphone 13      7
3        Apple               Apple Iphone 13 Pro      2
4        Apple           Apple Iphone 13 Pro Max      7
..         ...                               ...    ...
141        ZTE                ZTE Blade A31 Plus      1
142        ZTE                     ZTE Blade A51      2
143        ZTE              ZTE Blade V40 Vita 5      2
144        ZTE             ZTE Nubia Redmagic 6R      1
145        ZTE  ZTE Nubia Redmagic 6S Pro Cyborg      2

[146 rows x 3 columns]

In [5]:
# Total Product Name
total_product_by_brand = df.groupby(['brand_name'])['brand_name'].size().reset_index(name='count')
total_product_by_brand

   brand_name  count
0       Apple     31
1        Itel      2
2     Masstel      6
3       Nokia     75
4       Nubia      5
5        OPPO    116
6     OnePlus      2
7     Oukitel      6
8      Realme     40
9    Redmagic      3
10    Samsung    332
11      Sugar      3
12        TCL      7
13      Tecno     36
14    Ulefone      3
15       Vivo     80
16     Vsmart      7
17     Xiaomi    166
18        ZTE      8

In [6]:
# Total Product by Seller
total_product_by_seller = df.groupby(['seller'])['seller'].size().reset_index(name='count').sort_values(ascending=False, by='count')
total_product_by_seller

                      seller  count
19              Tiki Trading    141
10       Nguyễn Kim Official     87
4                HAPPY PHONE     87
14               Phương Tùng     82
6           Long Hưng Mobile     68
16                 SamCenter     63
17         THẮNG THAO MOBILE     62
5           Hồng Hạnh Mobile     58
23    Xiaomi Official Stores     31
12       OPPO Official Store     26
28     Điện Máy Tiện Lợi S52     26
25               minhphuc186     25
26       vivo Official Store     24
1              CÔNG TY SMART     18
0              Antam Trading     17
3               GiaPhucStore     13
21    Viettel Store Official     11
13                Phonestore     11
18      Tecno Official Store     10
9                MiSun Store     10
27            xuanhongmobile      9
11              Nokia Mobile      9
24        ZTE Official Store      8
22          Viễn Tin Sài Gòn      7
8   MediaMart Official Store      6
15         RedMagic Official      6
20                  VTMobile      6
2             Duy Đức Mobile      4
7   MT Smart Official Store       3

In [7]:
# Total Product is genuine
total_product_is_genuine = df.groupby(['is_genuine']).size()
total_product_is_genuine

is_genuine
False     40
True     888
dtype: int64

In [8]:
# Total Product is Second Hand
total_product_is_used = df.groupby(['is_used']).size()
total_product_is_used

is_used
False    823
True     105
dtype: int64

In [9]:
# Total Product is Imported
total_product_is_imported = df.groupby(['is_imported_goods']).size()
total_product_is_imported

is_imported_goods
False    926
True       2
dtype: int64

In [10]:
for i, row in df.iterrows():
    if row['original_price'] < row['sell_price']:
        df.loc[i, 'sell_price'] = row['original_price']
df

,brand_name,name,seller,color,is_genuine,is_used,is_imported_goods,ram,storage_capacity,original_price,sell_price,rating_1,rating_2,rating_3,rating_4,rating_5
0,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,12490000,13.0,1.0,1.0,22.0,268.0
1,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,11110000,7.0,5.0,4.0,27.0,346.0
2,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,10890000,7.0,1.0,7.0,23.0,404.0
3,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,12490000,5.0,0.0,2.0,15.0,210.0
4,Apple,Apple Iphone 11,Tiki Trading,Xanh,False,False,False,4GB,64GB,12990000,10890000,6.0,2.0,4.0,29.0,404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,None,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN
924,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,Xám,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN
925,ZTE,ZTE Nubia Redmagic 6R,ZTE Official Store,None,True,False,False,None,None,15990000,13490000,NaN,NaN,NaN,NaN,NaN
926,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN
927,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN

In [11]:
df_rating_sum = df.groupby(['brand_name']).sum()
df_rating_sum.sort_values(by="rating_5",ascending=False)

C:\Users\PhucDocNhat\AppData\Local\Temp\ipykernel_4224\1204923108.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_rating_sum = df.groupby(['brand_name']).sum()

,is_genuine,is_used,is_imported_goods,original_price,sell_price,rating_1,rating_2,rating_3,rating_4,rating_5
brand_name,,,,,,,,,,
Apple,0,0,0,699690000,596380000,79.0,24.0,43.0,251.0,4892.0
Samsung,332,103,0,4926120000,4035456000,22.0,12.0,15.0,119.0,966.0
OPPO,116,2,0,800140000,710273000,3.0,0.0,0.0,41.0,448.0
Xiaomi,163,0,0,898640000,743507000,3.0,3.0,3.0,25.0,253.0
Tecno,36,0,0,111543000,94199000,5.0,4.0,8.0,24.0,210.0
Nokia,75,0,0,184855000,168522000,8.0,5.0,4.0,32.0,190.0
Oukitel,6,0,0,26340000,26340000,0.0,0.0,0.0,0.0,30.0
Ulefone,3,0,0,13570000,13570000,0.0,1.0,1.0,7.0,28.0
Vivo,80,0,0,462760000,413423000,0.0,0.0,1.0,1.0,18.0
Sugar,3,0,0,5070000,3097000,1.0,1.0,1.0,4.0,16.0
Realme,40,0,0,143060000,126562000,0.0,0.0,0.0,1.0,14.0
Vsmart,7,0,0,21130000,20559000,2.0,0.0,1.0,0.0,11.0
OnePlus,2,0,0,31980000,30980000,1.0,1.0,0.0,0.0,6.0
Masstel,6,0,0,12240000,8934000,1.0,0.0,2.0,1.0,5.0
ZTE,8,0,0,67920000,60120000,0.0,0.0,0.0,0.0,3.0
Nubia,3,0,2,81950000,69450000,0.0,0.0,0.0,0.0,3.0
TCL,3,0,0,26030000,23230000,0.0,0.0,0.0,0.0,0.0
Itel,2,0,0,5800000,5800000,0.0,0.0,0.0,0.0,0.0
Redmagic,3,0,0,56970000,55470000,0.0,0.0,0.0,0.0,0.0

In [12]:
df['discount'] = df['original_price'] - df['sell_price']
df['discount_percent'] = round(df['discount']/df['original_price'],2)
df

,brand_name,name,seller,color,is_genuine,is_used,is_imported_goods,ram,storage_capacity,original_price,sell_price,rating_1,rating_2,rating_3,rating_4,rating_5,discount,discount_percent
0,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,12490000,13.0,1.0,1.0,22.0,268.0,500000,0.04
1,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,11110000,7.0,5.0,4.0,27.0,346.0,1880000,0.14
2,Apple,Apple Iphone 11,Tiki Trading,Đen,False,False,False,4GB,64GB,12990000,10890000,7.0,1.0,7.0,23.0,404.0,2100000,0.16
3,Apple,Apple Iphone 11,Tiki Trading,Trắng,False,False,False,4GB,64GB,12990000,12490000,5.0,0.0,2.0,15.0,210.0,500000,0.04
4,Apple,Apple Iphone 11,Tiki Trading,Xanh,False,False,False,4GB,64GB,12990000,10890000,6.0,2.0,4.0,29.0,404.0,2100000,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,None,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN,500000,0.12
924,ZTE,ZTE Blade V40 Vita 5,ZTE Official Store,Xám,True,False,False,None,None,4290000,3790000,NaN,NaN,NaN,NaN,NaN,500000,0.12
925,ZTE,ZTE Nubia Redmagic 6R,ZTE Official Store,None,True,False,False,None,None,15990000,13490000,NaN,NaN,NaN,NaN,NaN,2500000,0.16
926,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN,2000000,0.11
927,ZTE,ZTE Nubia Redmagic 6S Pro Cyborg,ZTE Official Store,None,True,False,False,12GB,128GB,17990000,15990000,NaN,NaN,NaN,NaN,NaN,2000000,0.11

In [13]:
df_discount_avg = df[]

SyntaxError: invalid syntax (3946078904.py, line 1)

In [ ]:
discount_max = max(df['discount_percent'])
discount_max

0.44

In [ ]:
discount_min = min(df['discount_percent'])
discount_min

0.0

In [ ]:
# Discount
discount_group = df.groupby(['discount_percent']).size()
discount_group

discount_percent
0.00    219
0.01      2
0.02      9
0.03     12
0.04     11
0.05     19
0.06     18
0.07      8
0.08     22
0.09     12
0.10     37
0.11     33
0.12     32
0.13     47
0.14     31
0.15     14
0.16     44
0.17     35
0.18     16
0.19      7
0.20     38
0.21     22
0.22     39
0.23     25
0.24     30
0.25     15
0.26     24
0.27     12
0.28     11
0.29      9
0.30      2
0.31      4
0.32      7
0.33     10
0.34      8
0.35     11
0.36      3
0.37      7
0.38     11
0.39      6
0.41      1
0.43      4
0.44      1
dtype: int64

In [ ]:
# Color
color_group = df.groupby(['color']).size().reset_index(name='count')
color_group

         color  count
0         Blue      2
1          Bạc     25
2          Cam     26
3         Hồng     13
4          Kem      6
5        Trắng     48
6          Tím     17
7         Vàng     40
8         Xanh    267
9   Xanh Dương     21
10  Xanh dương      5
11     Xanh lá      8
12         Xám    105
13         Đen    225
14          Đỏ     13

In [ ]:
ram_group = df.groupby(['ram']).size().reset_index(name='count')
ram_group

        ram  count
0      11GB      2
1      12GB      4
2       2GB    128
3   2GB/3GB      3
4       3GB     87
5       4GB    179
6   4GB/3GB      6
7   4GB/6GB      1
8       6GB     76
9   6GB/8GB      9
10      8GB    385

In [ ]:
storage_group = df.groupby('storage_capacity').size().reset_index(name='count')
storage_group

   storage_capacity  count
0             103GB      7
1             128GB    362
2       128GB/256GB     14
3              16GB     35
4             256GB     98
5              32GB    162
6         32GB/64GB     14
7             512GB     15
8              54GB     17
9              64GB    141
10              8GB     13